modules = ["rust-stable", "bash"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run SecureChain"

[[workflows.workflow]]
name = "Run SecureChain"
author = 44735627
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd SecureChain && cargo run -- --help"

[[workflows.workflow]]
name = "Test SecureChain"
author = 44735627
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd SecureChain && cargo build --release"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd SecureChain && ./target/release/securechain analyze -i test_contracts/vulnerable_sample.sol -t evm -d standard -o markdown"
