modules = ["rust-stable"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Build SecureChain"

[[workflows.workflow]]
name = "Build SecureChain"
author = 44732924
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd SecureChain && cargo build --release"
